.comment-menu {
    position: relative;

    &__actions {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__action {
        float: left;
        margin-left: 5px;
        border-radius: 5px;
        width: 24px;
        height: 24px;

        > button,
        > details > summary,
        .details-fallback > .details-fallback__summary {  // IE11 uses divs instead with these classes
            // Hides triangle on Firefox
            list-style-type: none;
            // Hides triangle on Chrome
            &::-webkit-details-marker { display: none; }
            width: 24px;
            height: 24px;
            position: relative;
            background-color: unset;
            border: unset;
            -moz-outline-radius: 10px;
            padding: 0;
            box-sizing: border-box;

            svg {
                position: absolute;
                width: 24px;
                height: 24px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        > details,
        > .details-fallback {  // IE11 uses divs instead with these classes
            position: relative;

            > .comment-menu__more-actions {
                position: absolute;
                right: 30px;
                top: 0;
                width: 151px;
                border-radius: 5px;
                border: 1px solid #c1c7cc;
                box-shadow: 0 3px 3px #00000029;
            }
        }

        .comment-menu__buttons {
            padding: 21px 22px 10px 22px;
            border-bottom: 1px solid #c1c7cc;
        }

        .comment-menu__resolved-by-info {
            border-top: 1px solid #c1c7cc;
        }

        .comment-menu__author-info,
        .comment-menu__resolved-by-info {
            padding: 21px 22px 22px 22px;

            > ul {
                padding: 0;
                margin: 0;
            }

            li {
                list-style: none;
                font-size: 14px;
                color: #2e2e2e;
            }

            .comment-menu__author-name,
            .comment-menu__author-type,
            .comment-menu__author-job-title,
            .comment-menu__author-org {
                color: #768691;
            }
        }

        &--more {
            > button,
            > details > summary,
            > .details-fallback > .details-fallback__summary {  // IE11 uses divs instead with these classes
                color: #a79696;

                // stylelint-disable-next-line max-nesting-depth
                &:hover {
                    color: $color-grey-25;
                }
            }
        }
    }

    &__more-actions {
        background-color: $color-white;
        color: $color-grey-5;
        text-transform: none;
        position: absolute;
        z-index: 1000;
        list-style: none;
        text-align: left;
        border-radius: 3px;

        button {
            display: block;
            background: none;
            border: 0;
            color: #005eb8;
            padding: 0 0 12px 0;
            font-size: 14px;
            width: 100px;
            text-align: left;
            text-decoration: underline;

            &:hover {
                color: #aaa;
                cursor: pointer;
            }
        }
    }
}

.comment--mode-deleting .comment-menu,
.comment-reply--mode-deleting .comment-menu {
    opacity: 0.5;
}

// IE11 only uses these classes
.details-fallback .comment-menu__more-actions {
    display: none;
}

.details-fallback--open .comment-menu__more-actions {
    display: block;
}
