.comments-tabs {
    margin-bottom: 20px;
    max-width: 470px;
    border-bottom: 0;

    .nav-link {
        color: #005eb8;
        font-size: 19px;
        background: none;
        border: 0;
        border-bottom: 5px solid #d9dde1;
        box-shadow: none;
        display: inline-block;
        padding: 0.3rem 1rem;
        text-decoration: none;
        transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
        width: 50%;
        text-align: center;
    }

    .nav-link.active {
        border-bottom: 5px solid #0d5da3;
        color: #212b32;
        background: none;
    }
}

.comments-component-width-full {
    padding-left: 0;

    .comments-tabs {
        max-width: none;
    }
}
