@import '../../../../../node_modules/nhsuk-frontend/packages/core/settings/colours';

.comment {
    @include box;

    display: block;
    transition: top 0.5s ease 0s, right 0.5s ease 0s, height 0.5s ease 0s, margin 0.2s;
    pointer-events: auto;
    box-sizing: border-box;
    right: -2000px;


    &:hover {
        border-color: #005eb8;
    }

    form {
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        margin: 0;
        border-top: 1px solid #e6e6e6;
        border-left: 10px solid #d9d9d9;
    }


    &--focused {
        border: 3px solid #005eb8;

        .comment-reply {
            border-bottom: 1px solid #005eb8;
        }

        .comment__replies,
        .comment__replies-collapsed,
        form {
            border-color: #005eb8;
            border-left-width: 8px;
        }
    }

    &__original {
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }

    &__text {
        color: $nhsuk-text-color;
        font-size: 18px;
        line-height: 19px;
        margin-bottom: 0;
        padding-bottom: 15px;
        max-width: calc(95%);

        &-show-all {
            font-size: 18px;
            font-weight: bold;
            text-decoration: underline;
        }

        &--mode-deleting {
            color: $color-grey-1;
        }
    }

    &__highlighted_text {
        border-left: 3px solid $nhsuk-form-border-color;
        padding-left: 5px;
        padding-right: 25px;
        font-style: italic;
        color: #4f6270;
        margin-bottom: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--mode-creating form {
        border: 0;
        margin-top: 10px;
    }

    &--mode-editing form {
        padding-left: 0;
        border: 0;
    }

    &--mode-deleting &__text {
        color: $color-grey-3;
    }

    &__replies {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-top: 1px solid $color-comment-separator;
        border-left: 10px solid $color-comment-separator;

        &-collapse {
            font-size: 16px;
            padding: 10px 15px 10px 15px;
            display: block;
            background-color: #fff;
            border-top: 0;
            border-right: 0;
            border-bottom: 1px solid $color-comment-separator;
            border-left: 0;
            width: 100%;
            text-align: left;
            color: #005eb8;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    &__button {
        @include button;
    }

    &__actions,
    &__reply-actions {
        text-align: right;

        .comment__button:disabled {
            display: none;
        }
    }

    &__actions &__button,
    &__reply-actions &__button {
        margin-left: 10px;
        margin-top: 10px;
    }

    &__confirm-delete &__button {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    &__confirm-delete,
    &__error {
        color: $color-box-text;
        font-weight: bold;
        font-size: 13px;
        margin-top: 10px;

        button {
            float: right;
        }

        &::after {
            display: block;
            content: ' ';
            clear: both;
        }
    }

    &__error {
        color: $color-white;
        background-color: $color-red-dark;
        border-radius: 3px;
        padding: 5px;
        padding-left: 10px;
        height: 26px;
        line-height: 26px;
        vertical-align: middle;

        button {
            height: 26px;
            float: right;
            margin-left: 5px;
            color: $color-white;
            background-color: $color-red-very-dark;
            border-color: $color-red-very-dark;
            padding: 2px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 0.65em;
            font-weight: bold;
        }

        &::after {
            display: block;
            content: '';
            clear: both;
        }
    }

    &__progress {
        margin-top: 20px;
        font-weight: bold;
        font-size: 13px;
    }

    &__reply-input {
        /* stylelint-disable-next-line declaration-no-important */
        margin-top: 10px !important;
    }

    &__reply-character-limit {
        font-size: 12px;
        color: $nhsuk-secondary-text-color;
        margin-bottom: 0;
    }

    &__resolved-info {
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        border-top: 1px solid $color-comment-separator;

        p {
            font-size: 12px;
            color: #748694;
            margin: 0;
            padding-bottom: 15px;
        }

        .resolved-date {
            float: right;
        }
    }

    ol {
        margin: 0;
    }
}
